.location-search-container {
  width: 400px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.location-search-container h2 {
  text-align: center;
}

.search-input,
.city-select {
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: calc(50% - 10px);
  box-sizing: border-box;
}

.location-list {
  list-style-type: none;
  padding: 0;
}

.location-list li {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}
/* footer css */
.footer {
  background-color: #111;
  color: #fff;
  padding: 40px 0 0 0;
  margin-top: 50px;
}

.footer-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 20px;
  min-width: 250px;
}

.footer-logo {
  color: #ff6600;
  margin-bottom: 10px;
}

.footer-section h3 {
  margin-bottom: 15px;
  color: #ff6600;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #ff6600;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  background-color: #000;
  margin-top: 20px;
  font-size: 14px;
}
footer.footer {
    background: linear-gradient(135deg, #fd5d01, #00c6ff);
}